# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# FVM Version Cache
.fvm/

# flutter
.dart_tool/
build
pubspec.lock
*.flutter-plugins
*.flutter-plugins-dependencies

*generated_plugin_registrant.cc
*generated_plugins_registrant.h
*generated_plugins.cmake